@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "friend.css";

*{
    /* 모든 element에 적용 : padding을 줘도 크기를 늘리지 마라 */
    box-sizing: border-box; 
}

body{
    background-color: white;
    padding: 10px 20px;
    color: #020202;
    font-family: "Open Sans",-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    color:inherit;
}